<nav id="menu" class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Technology Radar</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
         <div class="btn-group" dropdown container="body">
            <button dropdownToggle type="button" class="btn btn-primary dropdownToggle">
                Actions<span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </li>
    </ul>
</nav>